<%#= stylesheet_link_tag "statics", media: "all", "data-turbolinks-track" => true %>

<div class="jumbotron"> <!--jumotron has background image-->
    <h1 class="text-center jumbo-padding">Welcome to Aware</h1>
    <h3 class="text-center jumbo-subtitle">The Social Meditation App</h3>
    <a href="meditations-groups.html"><button class="btn btn-success btn-lg center-block jumbo-button">Sign Up</button></a>
</div>

<div class="container">

  <div class="session-info text-center">

      <div class="row">
        <div class="col-md-4">
          <img src="img/hiking.jpg" width="300">
        </div>
        <div class="col-md-8">
          <h3 class="session-title text-left" style="margin-top: 0;">West Van Meditation Group<h3>
          <h4 class="session-description text-left">Time: 7:00 AM PST. October 20, 2015</h4>
          <p class="session-description text-left">Details: Meditation is a practice in which an individual trains the mind or induces a mode of consciousness, either to realize some benefit or for the mind to simply acknowledge its content without becoming identified with that content,[1] or as an end in itself.[2]</p>
        </div>
      </div>



  </div>

<section class="section-margin">

</section>

<section class="section-margin">
  <h1>What is Aware?</h1>

  <div class="row">

    <div class="col-md-4">

      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3 class="panel-title">Find Meditation Sessions</h3>
        </div>
        <div class="panel-body">
    Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
    </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Practice with Other People</h3>
        </div>
        <div class="panel-body">
    Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.
       </div>
      </div>

    </div>

    <div class="col-md-4">

       <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Find Meditation Groups</h3>
        </div>
        <div class="panel-body">
          Includes over 250 glyphs in font format from the Glyphicon Halflings set. Glyphicons Halflings are normally not available for free, but their creator has made them available for Bootstrap free of cost. As a thank you, we only ask that you include a link back to Glyphicons whenever possible.

       </div>
      </div>

    </div>

  </div>

</section>


<section class="section-margin">
  <h2>Why Mindfullness?</h2>

  <div class="row">

    <div class="col-md-3">
      <img src="img/index1.jpg">
    </div>

    <div class="col-md-9">
      <h3>Fact:</h3>
      <p>The practice of Mindfulness involves being aware moment-to-moment, of
        one’s subjective conscious experience from a first-person perspective.[1]
        When practising mindfulness, one becomes aware of one’s "stream of con
        sciousness". The skill of mindfulness can be gradually developed using medi
        tational practices that are described in detail in the Buddhist tra
        dition.  </p>
    </div>

 </div>




  <div class="row">
    <div class="col-md-9">
      <h3>Fact:</h3>
      <p>The practice of Mindfulness involves being aware moment-to-moment, of
        one’s subjective conscious experience from a first-person perspective.[1]
        When practising mindfulness, one becomes aware of one’s "stream of con
        sciousness". The skill of mindfulness can be gradually developed using medi
        tational practices that are described in detail in the Buddhist tra
        dition. The Five-Aggregate Model, an ancient model of the mind, is a hel
        pful theoretical resource that could guide mindfulness interventions.[2] The
        term "mindfulness" is derived from the Pali-term sati[3] which is an ess
        ential element of Buddhist practice, including vipassana, satipaṭṭhāna and
         anapanasati. It has been popularized in the West by Jon Kabat-Zinn with
         his mindfulness-based stress reduction (MBSR) program.[4]</p>

    </div>
      <div class="col-md-3">
        <img src="img/index2.jpg">
    </div>

  </div>


  <h2>Testimonial</h2>
  <div class="row">
    <div class="col-md-5">
      <img src="img/testimonial-pic.jpg">
    </div>
    <div class="col-md-7">
      <h3>User:  Alphonso T.</h3>
      <p>Oct 9, 2013 - I assume the answer is "yes" and you already know about Bootstrap and use it in ... Code Your Navigation Bar With the Bootstrap Framework.</p>

    </div>
  </div>

</section>

<section class="section-margin">
  <h2>The Science Behind Meditiation</h2>
  <p>The Five-Aggregate Model, an ancient model of the mind, is a hel
  pful theoretical resource that could guide mindfulness interventions.[2] The
  term "mindfulness" is derived from the Pali-term sati[3] which is an ess
  ential element of Buddhist practice, including vipassana, satipaṭṭhāna and
   anapanasati. It has been popularized in the West by Jon Kabat-Zinn with
   his mindfulness-based stress reduction (MBSR) program.[4]</p>
</section>

<section id="sign-up" class="section-margin">
  <h2>Sign Up</h2>
  <form>
    <div class="form-group">
      <label for="exampleName">Name</label>
      <input type="email" class="form-control" id="exampleName" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
  </form>
</section>

<br>
<br>

</div><!--container-->


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

   <!-- Custom Scripts -->
  <script src="js/scripts.js"></script>
