<nav class="navbar navbar-default">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Aware Logo"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="mobile-nav">

    <ul class="nav navbar-nav mainNav">

      <li class="text-center"><%= link_to "Find your mindful journey", events_path %> </li>
      <li class="text-center"><%= link_to "Start your own Group", new_group_path %></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle profile-info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://placehold.it/60x60" alt="Profile Image" class="img-circle"> <span>John</span> <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li><a href="#">upcoming events</a></li>
          <li><a href="#">groups</a></li>
          <li><a href="#">my analytics</a></li>
          <li><a href="#">edit profile</a></li>
          <li><a href="#">invite friends</a></li>
          <li><a href="#">settings</a></li>
          <li><a href="#">logout</a></li>
        </ul>

      </li>

      <li class="text-center nav-icon"><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>

       <li class="text-center nav-icon"><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
